@import 'tailwindcss';
@tailwind utilities;
:root{
    /* Fonts */
    --font-poppins: 'Poppins', sans-serif;
    --font-ibm-plex-serif: 'IBM Plex Serif', serif;

    /* Component Colors */
    --orange:#EA580C;
    --gray:#F4F4F5;  
    --gray100: #F4F4F5;
    --orangehover100:#FDBA74;
    /* Font Color */
    --lightorange:#FDBA74;
    --darkgray:#A1A1AA;

    --iconorange:#FD7E1E;

    --mobile-text-size:14px;
}

*{
    font-family: var(--font-poppins);  
}

@layer utilities{
    .certificates{
         @apply pb-[20px] w-full lg:max-w-[300px] md:max-w-[250px] max-w-[250px] bg-white rounded-[8px] shadow-[10px_10px_0_#FDBA74] duration-150 ease-in hover:translate-y-[-20px] hover:shadow-[10px_10px_10px_#FDBA74] cursor-pointer;
    }
    .certificates-btn{
        @apply w-full h-[45px] border-[1px] border-[#FDBA74] rounded-[4px] flex justify-center items-center font-medium md:text-[16px] text-[14px] text-[#FDBA74] duration-150 ease-in hover:text-white hover:bg-[var(--lightorange)]
    }
    .footer-nav{
        @apply text-[#A1A1AA] md:text-[16px] text-[14px] font-medium hover:underline duration-150 ease-in hover:text-[var(--orange)]
    }
    .header-nav{
        @apply duration-300 ease-out text-[#A1A1AA] hover:text-[var(--orange)]
    }
    .faq-details{
        @apply md:text-[18px] text-[16px] font-medium block pl-[10px] cursor-pointer 
    }
    .faq-content{
        @apply md:text-[18px] font-medium block pl-[10px] text-[16px]
    }
    .faq-summary{
        @apply text-[var(--darkgray)] px-[10px] pt-[10px] md:text-[16px] text-[14px]
        }

    
}

/* CSS for FAQ Don't Touch! */
.content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
input[type="radio"]:checked + .content{
    max-height: 400px;
}

.active{
    color:var(--orange);
}
.active-footer{
    color:var(--orange);
    text-decoration: underline;
}
.active-privacy-nav{
    background-color:var(--iconorange);
    color:var(--gray100);
}

.bg-img{
    background-image: url('/public/assets/svg/login-svg-mobile.svg');
}

@media (min-width: 768px){
    .bg-img{
        background-image: none;
    }
}