@import 'tailwindcss';
@tailwind utilities;
:root{
    /* Fonts */
    --font-poppins: 'Poppins', sans-serif;
    --font-ibm-plex-serif: 'IBM Plex Serif', serif;

    /* Component Colors */
    --orange:#EA580C;
    --gray:#F4F4F5;  

    /* Font Color */
    --lightorange:#FDBA74;
    --darkgray:#A1A1AA;

    --iconorange:#FD7E1E;
}

*{
    font-family: var(--font-poppins);  
}

@layer utilities{
    .certificates{
         @apply h-[400px] w-[300px] bg-white rounded-[8px] shadow-[10px_10px_0_#FDBA74] duration-150 ease-in hover:translate-y-[-20px] hover:shadow-[10px_10px_10px_#FDBA74] cursor-pointer;
    }
    .certificates-btn{
        @apply w-full h-[45px] border-[1px] border-[#FDBA74] rounded-[4px] flex justify-center items-center font-medium text-[16px] text-[#FDBA74] duration-150 ease-in hover:text-white hover:bg-[var(--lightorange)]
    }
    .footer-nav{
        @apply text-[#A1A1AA] text-[16px] font-medium hover:underline duration-150 ease-in hover:text-[var(--orange)]
    }
    .header-nav{
        @apply duration-300 ease-out text-[#A1A1AA] hover:text-[var(--orange)]
    }
    .faq-details{
        @apply text-[18px] font-medium block pl-[10px] cursor-pointer
    }
    .faq-summary{
        @apply text-[var(--darkgray)] px-[10px] pt-[10px]
        }
}

/* CSS for FAQ Don't Touch! */
.content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
input[type="radio"]:checked + .content{
    max-height: 400px;
}

/* .before::after{
    content: '';
    
} */