@import 'tailwindcss';
@tailwind utilities;
:root{
    /* Fonts */
    --font-poppins: 'Poppins', sans-serif;
    --font-ibm-plex-serif: 'IBM Plex Serif', serif;

    /* Component Colors */
    --orange:#EA580C;
    --gray:#F4F4F5;

    /* Font Color */
    --lightorange:#FDBA74;
    --lightgray:#A1A1AA;
}

*{
    font-family: var(--font-poppins);
}

@layer utilities{
    .certificates{
         @apply h-[400px] w-[300px] bg-white rounded-[8px] shadow-[10px_10px_0_#FDBA74] transition-[150_300_ease] hover:translate-y-[-20px] hover:shadow-[10px_10px_10px_#FDBA74] cursor-pointer;
    }
    .certificates-btn{
        @apply w-full h-[45px] border-[1px] border-[#FDBA74] rounded-[4px] flex justify-center items-center font-medium text-[16px] text-[#FDBA74] transition-[150_300_ease] hover:text-white hover:bg-[var(--lightorange)]
    }
}